target
Cargo.lock
.cargo
.github
npm
.eslintrc
.prettierignore
rustfmt.toml
yarn.lock
*.node
.yarn
src
test
renovate.json
fix-python-soname
artifacts
build.rs
rust-toolchain.toml
CLAUDE.md
Cargo.toml
